* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.display {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: palegoldenrod;
}

.iphone {
    width: 250px;
    height: 500px;
    border: 5px solid black;
    border-radius: 35px;
    overflow: hidden;
    position: relative;
    -webkit-box-reflect: below 25px linear-gradient(transparent, rgba(255, 0, 0, 0.527));
}

img {
    width: 100%;
    height: 100%;

}

.overlay {
    width: 100%;
    height: 100%;
    /* background: red; */
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;

}

.iphone:hover .overlay {
    background-color: rgba(0, 0, 0, 0.4);
}

.dynamic {
    width: 30%;
    height: 18px;
    background-color: black;
    position: absolute;
    top: 10px;
    border-radius: 25px;
    left: 50%;
    transform: translateX(-50%);
    animation: big-bar 2s 1s ease-in-out;
}

.iphone:hover  .dynamic{
    animation: big-bar 2s 1s ease-in-out;
}

.profile {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    animation: content 1.9s 1.1s  timing-function delay iteration-count direction fill-mode;

}

.profile img {
    object-fit: cover;
}

.profile-name {
    position: absolute;
    left: 47px;
    font-size: 13px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0;
}

.call-attend {
    position: absolute;
    right: 3px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: rgb(11, 165, 11);
    top: 50%;
    transform: translateY(-50%);
    display: grid;
    place-content: center;
    opacity: 0;
}

.call-hangup i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 42px;
    color: rgb(230, 8, 8);
    font-size: 37px;
    opacity: 0;
}

.call-hangup::before{
    content: '';
    position: absolute;
    top: 4px;
    right: 45px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
}
.call-attend i {
    text-align: center;
    font-size: 18px;
    color: #fff;
}

@keyframes big-bar{
    0%,100%{
        width: 30%;
        height: 18px;
    }
    50%{
        width: 90%;
        height: 45px;
    }
    75%{
        width: 90%;
        height: 45px;
    }
    90%{
        width: 90%;
        height: 45px;
    }
}